.KNY-container{
  width: 90%;
  background-color: #f3f3f3;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.237);
}
.KNYDay1 {
  width: 100%;
  padding: 30px;
}
.KNYDay1 .title {
  font-size: 16px;
  padding: 15px 0px;
  font-family: 'Khmer OS Muol';
}
.Paragraph1-1 p, .Paragraph1-2 p {
  padding: 20px 0;
  font-family: 'Khmer OS Battambang';
  text-align: justify;
}
.KNYDay1 h4 {
  padding: 10px 40px;
  font-size: 17px;
  font-family: 'Khmer OS Battambang';
}
.list1-1, .list1-2 {
  width: 100%;
  padding: 30px;
}
.list1-1 li, .list1-2 li {
  padding: 10px 0;
}
.list1-1 li p, .list1-2 li p{
  font-family: 'Khmer OS Battambang';
}
.list1-1 li p span, .list1-2 li p span {
  font-family: 'Khmer OS Battambang';
  font-weight: 600;
  font-size: 17px;
}